
body {
  background-color: #7f8c8d;
  /*background-image: url(../151409.jpg);
  background-size: cover;
  background-repeat: no-repeat;*/
  padding: 20px 50px;
}

.App {
}

.nav {
  width: 100%;
  background-color: #34495e;
  color: white;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.title {
  font-family: 'Bangers', cursive;
  font-size: 3.5em;
}

.leadin {

}

.content {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  border: 1px dotted white;
}

.playlist, .playlistForm {
  width: 45%;
  min-width: 230px;
  margin: 0 20px 20px 20px;
  padding: 10px;
}

.entry label {
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 10px;
  text-shadow: -1px 1px #000000,1px 1px #000000,1px 1px #000000,1px -1px #000000;

}

.entry input, .entry textarea{
  width:100%;
  padding:3px;
  margin-bottom: 10px;
  border: 2px solid #34495e;
  box-shadow: 0;
  font-size: 1.2em;
}

form button {
  width: 100px;
  margin-top: 5px;
  border-radius: 2px;
  background-color: white;
  font-size: 1.1em;
}

.playlistItem {
  border: 1px dotted red;
  background-color: white;
  margin-bottom: 10px;
}

.playlist {
  border: 2px solid red;
}
